<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bk120.cinematicket">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 播放视频硬件加速 -->
    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/bk120"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="D17mKptypqaCWXCnILOnkO6ssYXvlGRq" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance">
        </activity>
        <activity android:name=".activitys.AddressActivity" />
        <activity android:name=".activitys.PlayFilmActivity" />
        <activity android:name=".activitys.LoginRegisterActivity" />
        <activity android:name=".activitys.UpdateUserActivity" />
        <activity android:name=".activitys.WalletActivity" />
        <activity android:name=".activitys.BalanceActivity" />
        <activity
            android:name=".activitys.AddBalanceActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".activitys.GetBalanceActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".activitys.SettingActivity" />
        <activity android:name=".activitys.GestureLockActivity" />
        <activity android:name=".activitys.AddCommentActivity" />
        <activity android:name=".activitys.MapViewActivity" />
        <activity android:name=".activitys.CinemaSupFilmActivity" />
        <activity android:name=".activitys.BuyFilmActivity" />
        <activity android:name=".activitys.CinemaChairActivity" />
        <activity android:name=".activitys.TicketOrderActivity" />
        <activity android:name=".activitys.ChatRoomActivity" />
        <activity android:name=".activitys.ScanActivity" />
        <activity android:name=".zxing.activity.CaptureActivity" />
        <activity android:name=".activitys.FlashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>